__pycache__
src/__pycache__
src/authentication/__pycache__
src/change_order/__pycache__
flask_session/
venv/
client/
src.authentication.views
db_connection.log
mysql_connection.log
.vscode/
node_modules/
config.json
# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
