.addProduct {
  margin: 0;
  height: 36px;
  width: 254px;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.frameWithText {
  width: 834px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  margin-top: -1605px;
}
.navigation08TopNavigation0 {
  width: 100%;
  height: 68px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  left: 0px;
  background: linear-gradient(#070b1d, #070b1d), #fff;
  box-shadow: 0px 1px 4px rgba(21, 34, 50, 0.08);
}
.submitChangeOrder {
  width: 100%;
  height: 1723px;
  position: relative;
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 68px 0px 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--general-general-100);
  font-family: var(--font-inter);
}
